{%extends "base.html"%}
<!-- prettier-ignore -->
{%block title %}Search Results{%endblock%}

{% block content %}
  <!-- Hero head: will stick at the top -->
  <section class="hero general-background is-fullheight">
  {{navBarHeader()}}
  <div class="hero-body">
    <div class="columns is-multiline m-3">
      {% for key in url_list %}
      <div class="column box m-2 is-one-quarter">
        <!-- prettier-ignore -->

        {%if key["Poster"] != "N/A" %} 
        <img class="image" src="{{key["Poster"]}}" alt="Placeholder image" /> 
        {%else%}
        <img
          src="https://via.placeholder.com/300x450?text=No+Movie+Poster+Found"
          alt="Placeholder image"
        />
        {%endif%}
        <div class="title">{{key["Title"]}} ({{key["Year"]}})</div>

        <div class="subtitle">
          <a  href="https://www.imdb.com/title/{{key["imdbID"]}}">View on IMDB</a>
        </div>
        <div class="subtitle">
          <a href="users/add/{{key["imdbID"]}}">Add to favorites</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- prettier-ignore -->
{%endblock%}
