.hero {
  background-color: #30363d;
}

.navbar-text-logo,
.home-title-text {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.navbar-text-logo {
  font-size: 1.5em;
}

.home-title-text {
  font-size: 5em;
}

.columns {
  max-width: 100%;
}

.box {
  align-items: center;
  text-align: center;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
}
.btn-grad {
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
