<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ====================== Stylesheets ========================== -->

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <!-- ====================== GOOGLE FONTS ========================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    
    <!-- ====================== BULMA CDN ========================== -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    
<section class="hero is-ingo is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h1 class="navbar-text-logo">Screen Marvel</h1>
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active " href="/">
              Home
            </a>
            <a class="navbar-item"href="/favorites" >
              Favorites
            </a>
            <a class="navbar-item" href="/account">
              Account
            </a>
            <span class="navbar-item has-text-centered">
              <a class="button is-primary is-inverted" href="/logout">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Logout</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
    <!-- WEBSITE MESSAGE FLASHING AND ERRORS -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <div class="text-center alert alert-{{ category }} m-1">
        {{ message }}
      </div>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <!-- WEBSITE CONTENT HERE -->
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
