{%extends "base.html"%}
<!-- prettier-ignore -->
{%block title %}Screen Marvel{%endblock%}

{% block content %}
<!-- Full image background with stylized search bar in the middle. -->
<!-- Two buttons: One for signup and one for login -->
<!-- ScreenMarvel Name in the middle on top of the search bar -->

<section class="hero is-fullheight">
  <!-- Hero head: will stick at the top -->
  {{navBarHeader()}}

  <div class="hero-body has-text-white">
    <div class="container has-text-centered is-fluid">
      <h1 class="home-title-text">Screen Marvel</h1>
      <p class="subtitle has-text-white">
        Search for your favorite movies, series, or episodes
      </p>
      <form action="{{url_for('handle_home_search')}}">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="What do you want to watch?"
              name="movie_title"
              required
            />
          </p>
          <p class="control">
            <button class="button is-info btn-grad" type="submit">
              Search
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
{%endblock%}
