{%extends "base.html"%}
<!-- prettier-ignore -->
{%block title %}User favorites{%endblock%}

{% block content %}
  <!-- Hero head: will stick at the top -->
  <section class="hero is-fullheight">
  {{navBarHeader()}}
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="columns is-multiline m-3">
        {% for key in url_list %}
        <div class="column box m-3 is-one-quarter">
          <!-- prettier-ignore -->
  
          {%if key["Poster"] != "N/A" %} 
          <img class="image" src="{{key["Poster"]}}" alt="Movie image" width="300" height="450"/> 
          {%else%}
          <img
            src="https://via.placeholder.com/300x450?text=No+Movie+Poster+Found"
            alt="Placeholder image"
          />
          {%endif%}
          <div class="title">{{key["Title"]}} ({{key["Year"]}})</div>
          <div class="container m-2">
            <div class="subtitle">
              <a  class="button is-success is-medium" href="https://www.imdb.com/title/{{key["imdbID"]}}" target="_blank">View on IMDB</a>
            </div>

          </div>
        
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- prettier-ignore -->
{%endblock%}
