{%extends "base.html"%}
<!-- prettier-ignore -->
{%block title %}Your favorites{%endblock%}

{% block content %}
  <!-- Hero head: will stick at the top -->
  <section class="hero is-fullheight">
  {{navBarHeader()}}
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="columns is-multiline m-3">
        {% if url_list|length == 0 %}
        <div class="column has-text-centered"> 
          <h1 class="title no-fav-title-text has-text-danger ">No Favorites Found!</h1> 
          <h2 class="subtitle no-fav-title-text has-text-white">Search for movies to add them.</h2>
        {%else%}
        {% for key in url_list %}
        <div class="column box m-3 is-one-quarter">
          <!-- prettier-ignore -->
  
          {%if key["Poster"] != "N/A" %} 
          <img class="image" src="{{key["Poster"]}}" alt="Movie image" width="300" height="450"/> 
          {%else%}
          <img
            src="https://via.placeholder.com/300x450?text=No+Movie+Poster+Found"
            alt="Placeholder image"
          />
          {%endif%}
          <div class="title">{{key["Title"]}} ({{key["Year"]}})</div>
          <div class="container m-2">
            <div class="subtitle">
              <a  class="button is-success is-medium" href="https://www.imdb.com/title/{{key["imdbID"]}}" target="_blank">View on IMDB</a>
            </div>
            <div class="subtitle">
              <a class = "button is-danger is-small"href="/favorites/remove/{{key["imdbID"]}}">Remove Favorite</a>
            </div>
          </div>
        
        </div>
        {% endfor %}
        {%endif%}
      </div>
    </div>
  </div>
</section>
<!-- prettier-ignore -->
{%endblock%}
